*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');
.sidebar{
    background-color: rgb(168, 160, 160);
    
    font-family: 'Open Sans', sans-serif;
    height: 60vh;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    padding: 33px 0;
}
.sidebar nav li a{
   text-decoration: none;
   color: darkslategrey;
}
.main{
    /* background-color: blueviolet; */
    width: 110vw;
}
.container{
    display: flex;
    /* background-color: khaki; */
}
.techSkill{
    text-align: center;
    margin-left: 136px;
    margin-right: 136px;
    margin-top: 60px;
    font-size: 25px;

}
.softSkill{
    
    margin-left: 136px;
    margin-right: 136px;
    margin-top: 100px;
    font-size: 25px;
}
/*@media (max-width: 1615px) {
    .sidebar{
        width: 200px; 
        float: left; 
        width: 170px;}
    
  }
  */